@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700&display=swap');

html {font-family: ;}

*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;

}


.container {border: 20px;
    margin: 0 120px;
background-color: white;
width: auto;
display: inline;
text-align: center;
box-shadow:inset;
}
.PanCakes,.potatoe-Salad,.spaghetti-bolognaise {
padding: 10px;}

body {background-color: grey;
font-family: fantasy;}

h1 {color:rgb(111, 14, 167) ;
text-align: center;
margin-bottom: 0;
padding: 0;}

a {font-size: large;
    font-weight: bold;
}

.figure { text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
font-size: 25px;}

img {border-radius:25px ;
height: auto;
width: 500px;}

h2 {font-size: 32px;
    padding-bottom: -100px;
    margin-top: 5px;
}

div.ingredients, div.steps { text-align: center;
margin-top: 0px;}  
div.ingredients h2 , div.steps h2 {
    margin-bottom: 0;
    padding: 0;
font-size: 35;}

ul{ display: inline-block;
    padding-top: 0;
    font-size: 25px;
    margin-top: 0;
    text-align: center;
}


ol{
display:inline-block;
list-style-position: inside;
font-size: 25px;
word-wrap: break-word;}

.links {
    display: block;
      align-items: center;
    background-color: violet;
  height: 500px;
  width: 350px;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  
}

button { border-radius: 10px;
    background-color: peachpuff;

    display: inline-block;
    margin: 20px;
    border: 1px solid pink;
    padding: 10px;

}
